In [203]:
try:
    import requests
    import pandas as pd
    import sqlite3
    import os
    import numpy as np
    from datetime import datetime


    #pd.set_option('max_row', None)
    #pd.set_option('max_column', None)
    #trading.head(None)

    print("Everything loaded!!!")
except Exception as e:
    print(e)

Everything loaded!!!

In [204]:
try:
    Directory = "C:/Users/jorodriguez/Documents/programming_test"
    Database_name = "ISS2.sqlite"

    os.chdir(Directory)

    conn = sqlite3.connect(Database_name)  ##insert any name you like followed by .db i.e. sample.db


    print("Connection stablished!!!!!")
except Exception as e:
    print(e)

Connection stablished!!!!!

In [190]:
query= """
CREATE TABLE ISS_tracker (
	
	latitude NUMERIC,
	longitude NUMERIC
);
"""
conn.execute(query)
print("Your record was executed!")

OperationalError: table ISS_tracker already exists

[]

In [216]:
r = requests.get(url='http://api.open-notify.org/iss-now.json')
people= requests.get(url="http://api.open-notify.org/astros.json")
a=r.json()
b=people.json()
message = a['message']
iss_position=a['iss_position']
timestamps=a['timestamp']


lat=float(list(iss_position.values())[0])
lon=float(list(iss_position.values())[1])

o=list(b["people"])


names=[]
for i in range(7):
    names.append(o[i]["name"])
    

dt_object = datetime.fromtimestamp(timestamps)
conn.execute(f"""INSERT INTO ISS_tracker VALUES('{lat}', '{lon}')""")
# Commit your changes in the database    
conn.commit()
  
print("Data has been inserted!!!!")

Data has been inserted!!!!

In [209]:
"""w={"Message":message,"Latitude":lat,"Longitude":lon,"Time":dt_object,"people":names}
pd.DataFrame(pd.Series(w)).T  """

'w={"Message":message,"Latitude":lat,"Longitude":lon,"Time":dt_object,"people":names}\npd.DataFrame(pd.Series(w)).T  '

"""message = input("enter data: ")
lat= input("enter data: ")
lon= input("enter data: ")
names= input("enter data: ")
dt_object= input("enter data: ")"""

In [217]:
res = conn.execute("SELECT * FROM ISS_tracker ")
res.fetchall()

[(31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (31.1027, -18.6304),
 (12.5693, -1.9029),
 (-6.8776, 12.1184),
 (-8.8204, 13.5327),
 (-11.4086, 15.4512),
 (-12.7095, 16.434),
 (-13.0839, 16.7196),
 (-13.3333, 16.9105),
 (-13.6324, 17.1401)]

In [ ]:
# Closing the connection
conn.close()
print("Connection has been closed!!!")

Connection has been closed!!!