# SQLITE3 connection with python
SQLite is a relational database management system contained in a C library. In contrast to many other database management systems, SQLite is not a clientâ€“server database engine. Rather, it is embedded into the end program. SQLite generally follows PostgreSQL syntax.

Loading the neccesary libraries

In [4]:
try:
    import pandas as pd
    import sqlite3
    import os
    import numpy as np
    from matplotlib import pyplot as plt
    from IPython.display import display
    import os
    #import pandas_profiling as pp


    pd.set_option('max_row', None)
    pd.set_option('max_column', None)
    #trading.head(None)
    os.chdir("C:/Users/admin/Documents/sqlite")
    print("Everything loaded!!!")
except:
    print("Something went wrong!!!!")

Everything loaded!!!

### Stablishing conection

In [5]:
# Connecting to sqlite
conn = sqlite3.connect('test_db.db')

  
# Creating a cursor object using the 
# cursor() method
cursor = conn.cursor()

print(" Connection Set!")

 Connection Set!

In [6]:
# Creating table
table ="""
CREATE TABLE STUDENT
                    (
                    NAME VARCHAR(255), 
                    Last_name VARCHAR(255),
                    AGE NUMERIC,
                    COUNTRY VARCHAR(255)
                    
                    );


"""
cursor.execute(table)
print("The table was created successfully!!!!")

In [18]:
NAME = input("Enter name:  ")
Last_name =input("Enter Lastname: ")
AGE =input("Enter age: ")
COUNTRY  =input("Enter Country: ")






cursor.execute(f"""INSERT INTO STUDENT VALUES ('{NAME}', '{Last_name}', '{AGE}','{COUNTRY}')""")
# Commit your changes in the database    
conn.commit()
  
print("Data has been inserted!!!!")

Enter name:  John
Enter Lastname: Somnes
Enter age: 32
Enter Country: United States
Data has been inserted!!!!

In [19]:
df = pd.read_sql_query("""

--------Insert query below:
---(sQLITE3 IS CASE SENSItiVE)



SELECT * FROM STUDENT
--where first_name='PENELOPE'
--ORDER BY LAST_UPDATE;









""", conn)
pd.DataFrame(df)

        NAME  Last_name  AGE        COUNTRY
0       Joel  Rodriguez   25  United States
1  Stephanie  Rodriguez   28  United States
2       John     Somnes   32  United States

In [20]:
df.describe()

             AGE
count   3.000000
mean   28.333333
std     3.511885
min    25.000000
25%    26.500000
50%    28.000000
75%    30.000000
max    32.000000

## Convert results into json format

In [21]:
### table, records,split,index,columns,values
print(df.to_json(orient ='table'))

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"NAME","type":"string"},{"name":"Last_name","type":"string"},{"name":"AGE","type":"integer"},{"name":"COUNTRY","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":0,"NAME":"Joel","Last_name":"Rodriguez","AGE":25,"COUNTRY":"United States"},{"index":1,"NAME":"Stephanie","Last_name":"Rodriguez","AGE":28,"COUNTRY":"United States"},{"index":2,"NAME":"John","Last_name":"Somnes","AGE":32,"COUNTRY":"United States"}]}

In [27]:
df.to_json ('test.json')
df.to_csv('test.csv')

# Closing connection
Make sure you close your connection. If we don't close the connection, it will lead to connection memory leakage. Unless/until application server/web server is shut down, connection will remain activate even though the user logs out.

There are additional reasons. Suppose database server has 10 connections available and 10 clients request for the connection. If the database sever grants all of them, and after their usage they are not closed, the database server would not be able to provide a connections for another request. For that reason we need to close them - it is mandatory.

Furthermore, it might lead to some mischievous activities regarding the integrity of the database. https://stackoverflow.com/questions/25864235/why-we-should-close-the-connection-in-jdbc-if-we-dont-do-it-what-will-happen

In [23]:
# Closing the connection
conn.close()
print("Connection has been closed!!!")

Connection has been closed!!!